# Зависимости
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Сборка SCSS
.sass-cache/
*.css.map

# Редакторы и IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db
desktop.ini

# Логи и временные файлы
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные переменные окружения
.env
.env.local
.env.*.local

# Временные файлы
*.tmp
*.bak
